In [1]:
# Linear Regression

In [3]:
import pandas as pd

In [5]:
import numpy as np

In [7]:
import sklearn

In [9]:
from sklearn import linear_model

In [10]:
from sklearn.utils import shuffle

In [63]:
import matplotlib.pyplot as pyplot

In [ ]:
import pickle

In [ ]:
## Pandas dataframe

In [21]:
data = pd.read_csv("student-mat.csv", sep = ";")

In [22]:
data.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [ ]:
# Attributes (G1, G2,....)

In [23]:
data = data[["G1", "G2", "G3", "studytime", "failures","absences"]]

In [24]:
data.head()

   G1  G2  G3  studytime  failures  absences
0   5   6   6          2         0         6
1   5   5   6          2         0         4
2   7   8  10          2         3        10
3  15  14  15          3         0         2
4   6  10  10          2         0         4

In [44]:
predict = "G3"

In [45]:
X = np.array(data.drop([predict], 1))

In [46]:
y = np.array(data[predict])

In [47]:
## x_train is going to be a section of X

In [48]:
## y_train is going to be a section of y

In [49]:
x_train, x_test, y_train, y_test = sklearn.model_selection.train_test_split(X, y, test_size = 0.1)

In [50]:
# implement the algorithm

In [51]:
linear = linear_model.LinearRegression()

In [52]:
linear.fit(x_train, y_train)

LinearRegression()

In [53]:
acc = linear.score(x_test, y_test)

In [54]:
acc

0.8624154146596954

In [ ]:
# how do we use this?

In [ ]:
##

In [58]:
print("Coefficient: \n ", linear.coef_)

Coefficient:
  [ 0.15114733  0.99342089 -0.23470891 -0.29529126  0.04402168]

In [59]:
print("Intercept: \n ", linear.intercept_)

Intercept:
  -1.605659821013317

In [62]:
### predict based on input

In [60]:
predictions = linear.predict(x_test)

In [61]:
for x in range(len(predictions)):
    print(predictions[x], x_test[x], y_test[x])

5.7296520313983885 [7 7 2 1 2] 7
11.831346000120293 [11 12  1  0  2] 11
13.81680783925429 [13 13  2  0 23] 13
10.066212627916828 [ 9 11  3  0  2] 11
12.070536682904706 [12 12  1  0  4] 13
14.556442179426485 [13 15  3  0  0] 15
4.880375069634885 [6 6 2 0 2] 6
7.823979589423333 [10  8  2  0 10] 8
14.271629782966574 [14 14  1  0  2] 13
8.553270429590977 [10  9  2  0  4] 11
5.271134530556486 [7 7 2 3 5] 7
5.522404118823917 [7 7 2 2 4] 9
11.892709916947451 [12 12  2  1 12] 13
3.8238501952969104 [5 5 2 0 4] 6
8.52970635002749 [8 9 1 0 5] 9
10.54011221824178 [10 11  2  0  4] 9
10.397928437331032 [11 11  4  0  8] 10
10.718720544606342 [11 11  1  1  6] 10
9.244396661119394 [ 8 10  2  0  4] 9
-1.9705058634425638 [5 0 1 3 0] 0
6.934802613542132 [8 8 3 0 2] 10
13.82715133925884 [13 14  3  0  6] 14
12.569600390775681 [13 13  3  0  0] 14
10.754363529652846 [12 11  2  0  2] 12
2.6007636406164156 [7 4 1 2 0] 0
12.653161966917727 [12 13  2  0  0] 14
9.687130383934763 [ 8  9  1  1 38] 8
8.636827348026078 [ 8  8  1  0 30] 8
11.878474159247267 [15 12  3  0  0] 14
12.061793220882693 [10 12  2  0 16] 11
8.230518170664519 [10  9  3  0  2] 10
11.982493331518786 [12 12  1  0  2] 11
13.26946542661916 [12 13  2  0 14] 12
10.45206886685586 [10 11  2  0  2] 11
8.058688496963873 [10  8  1  0 10] 9
14.359673134352494 [14 14  1  0  4] 14
9.068309958347555 [ 8 10  2  0  0] 12
16.389161306886393 [17 16  2  0  0] 16
-0.9334847401628994 [6 0 1 0 0] 0
-1.2517552238454854 [7 0 3 0 0] 0

In [ ]:
## print stuff